.travelersinfomodal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    flex-flow: row wrap;
    z-index: 5;
    align-self: center;
    max-width: 42rem;
    border-radius: 0.75rem;
    color: #0F172A;
    opacity: 1;
    background-color: hsl(214 17% 84% / 1);
    box-shadow: -10px 13px 0px 2px rgb(108, 124, 145, .75);
    -webkit-box-shadow: -10px 13px 0px -1px rgb(108, 124, 145, .75);
    -moz-box-shadow: -10px 13px 0px -1px rgb(108, 124, 145, .75);
}

.travelersinfomodal2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    flex-flow: row wrap;
    z-index: 5;
    align-self: center;
    max-width: 42rem;
    border-radius: 0.75rem;
    color: #0F172A;
    opacity: 1;
    background-color: hsl(214 17% 84% / 1);
    box-shadow: -10px 13px 0px 2px rgb(108, 124, 145, .75);
    -webkit-box-shadow: -10px 13px 0px -1px rgb(108, 124, 145, .75);
    -moz-box-shadow: -10px 13px 0px -1px rgb(108, 124, 145, .75);
}
.travelersinfomodal2 > .travwrap > .infowrappeople > label > input, .travelersinfomodal2 > .travwrap > .infowrappeople > label > select { background-color: white;}
.namewrap{
    display: flex;
    width: 100%;
    background: #CBD5E1;
    color: #334155;
}
.namechild1,.namechild2,.namechild3{
    text-align:center;
    background: white;
    display: flex;
    gap: 5px;
    color: #334155;
}
.namechild2{
background:#CBD5E1;
}
.namewrap > * {
    width: 100%;
    padding: 1rem;
    text-align: left;
}
.namewrap > h1 {
    width: 25%;
    text-align: center;
    font-weight: 600;
    margin: 0;
 
}
.formheader{
    position: absolute;
    top: 0;
}
input[type=tel],input[type=email]{
    max-width: 30rem;
    text-align: left;
    padding: .75rem .25rem;

}
.travheader{
    width: 100%;
    margin: 0;
    padding: 1.25rem 0;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    justify-content: center;
}
.infoh1{
    margin: .25rem;
    text-align: left;
    padding: 0.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: .7em;
}

.infoh1 > div {
    font-size: 1.1em;
    height: 2rem;
}
.infowrap{
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0.5rem;
    height: 24rem;
    width: 95%;
    justify-content: center;
    gap: 21px;
}
.infowrap > label > input, .travelersinfomodal > div > article >label>input,
.travelersinfomodal > div > article >label>select {
    background-color: white;
    width: 92%;
    text-align: left;
    box-shadow:0px 0px 53px -17px rgba(30,41,59,0.75);
    -webkit-box-shadow: 0px 0px 53px -17px rgba(30,41,59,0.75);
    -moz-box-shadow:0px 0px 53px -17px rgba(30,41,59,0.75);
}
.hide{
    display: none;
}
.travwrap{
    width: 90vw;
}
.pplscreenbtn{
    margin: .5rem;
}
.infowrappeople{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.infowrappeople > label {
    width: 90%;
    margin: .25rem 0;
    padding: .4rem 0;
    font-size: 1em;
}
.infowrappeople > button {
    width: 41%;
    align-self: center;
    border-radius: 0.25rem;
    border: transparent;
    height: 2.5rem;
    box-shadow: -2px 4px 14px 0px rgba(30,41,59,69%);
    -webkit-box-shadow: -2px 4px 14px 0px rgba(56, 66, 83, 0.69);
    -moz-box-shadow: -2px 4px 14px 0px rgba(30,41,59,69%);
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: .05rem;
    font-size: 1.25em;
    background-color: #05203C;
    color: white;
}
.infowrappeople:first-child{
    min-width: 100%;
}
#stateselect{
    width: 102%;
}
label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    align-items: flex-start;
    gap: 5px;
    color: #1E293B;
    font-weight: 500;
    font-size: 1em;
    text-indent: 1.5px;
    text-align: left;
    margin: .5rem 0;
}
#addressbtn{
    margin-top: 3%;
    margin-left: 0.25rem;
}
input, select {
    width: 100%;
    border-radius: 0.4rem;
    border: transparent;
    padding: 0.5rem 0;
    text-indent: 10px;
    padding: 0.5rem 0;
    padding-left: 0.25rem;
    font-size: 1.2em;
    border: solid #C2C2C2 2px;
    text-align: center;
    background: rgb(212, 212, 212, 30%);
    color: #1E293B;
    min-height: 40px;

}
input[type="date"]::placeholder{
    color: rgb(245, 245, 245);
}
.nextbtn{
    width: 90%;
    align-self: center;
    border-radius: 0.25rem;
    border: transparent;
    letter-spacing: .05rem;
    height: 8vh;
    min-height: 2.2rem;
    font-weight: 600;
    font-size: 1.25em;
    background-color: #1C294A;
    color: #F1F5F9;
    letter-spacing: .05rem;
    font-size: 1.25em;
    box-shadow: -5px 4px 14px 0px rgba(30,41,59,69%);
    -webkit-box-shadow: -5px 4px 14px 0px rgba(30,41,59,69%);
    -moz-box-shadow: -5px 4px 14px 0px rgba(30,41,59,69%);
    max-width: 17rem;
}
.countrypopup{
    position: absolute;
    background: darkgray;
    min-height: 20rem;
    min-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 0.85rem;
}
.addressscreen{
    position: absolute;
    background: #E5E7EB;
    top: 2%;
    width: 92%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.85rem;
    height: 96%;
    box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
    -webkit-box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
    -moz-box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
    gap: 21px;
}
.addressscreen > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.hide{
    display:none
}
.mainsectionwrap{
    width: 100%;
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    height: 100%;
}
.travelerNumWrap{
    position: absolute;
    top: 0;
    background: transparent;
    width: 100%;
    height: 6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 49.2rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    color: #0F172A;
    padding-top: .25rem;
}
.travelerinfowrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 25rem;
    justify-content: space-between;
    width: 95%;
    overflow-x: scroll;
}
.travelerinfowrap > h1 {
    border-bottom: solid 2.5px rgb(75, 85, 99, .5);
    text-align: left;
    padding: 1rem 0;
    width: 80%;
    max-width: 27rem;
    font-size: 1.2em;
}
.infosection{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.namechild > div {
    text-align: center;
    margin-right: 0.5rem;
}
.infosection > article {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

}
.documentswrap{
    flex-flow: column;
}

.documentswrap > h2 {
    text-align: center;
    width: 100%;
    text-align: left;
    padding: 1rem;
}

article > h1 {
    padding: .25rem;
    font-weight: 600;
    font-size: 1.1em;

}
    .travelersinfomodal-enter {
        opacity: 0;
      }
      
      .travelersinfomodal-enter-active {
        opacity: 1;
        transition: opacity 1000ms ease-in-out;
      }
      
      .travelersinfomodal-exit {
        opacity: 1;
      }
      
      .travelersinfomodal-exit-active {
        opacity: 0;
        transition: opacity 1000ms ease-in-out;
      }
      h3{
        margin: 0;
        font-size: 1em;
        font-weight: 700;
      }

  @media(min-width:760px){
    .travelersinfomodal{
        width: 89%;
        max-width: 50rem;
        left: 50%;
        margin-top: 9%;
        min-height: 25rem;
        padding-top: 0.75rem;
    }
    .travelersinfomodal2{
        top: 80%;
    }
    .travelerNumWrap{
        justify-content: center;
        padding-left: .8rem;
        font-size: 1.25em;
    }
    .infosection > article {
       justify-content: flex-start;
    }
    .infowrappeople > label {
        width: 30%;
        
    }
  }
  @media(min-width:1024px){
    .namechild1,.namechild2,.namechild3{
        width: 20%;
        flex-direction: column;
        background-color: white;

    }
    .namechild1 > *, .namechild2 > *,.namechild3 > *{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .infosection{
        box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
        -webkit-box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
        -moz-box-shadow: -11px 13px 0px 1px rgb(100, 116, 139, .85);
    }
    .documentswrap  {
        flex-flow: row wrap;
    }
    .documentswrap > h2 {
        width: 25%;
        padding: 1rem 0;
        background:#CBD5E1;
    }
    .namewrap > * {
        width: 33%;
        padding: 1rem 0 ;
        text-align: center;
    }
    .namewrap{
        background-color: white;
    }
    .travelerinfowrap{
        overflow-x: hidden;
        height: 100%;
    }
    .namewrap > h1 {
        height: 2rem;
    }
  }