html{
    margin: 0;
    padding: 0;
}
.headermainwrap{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #05203C;
    color: white;
    width: 100%;
    height: 3.2rem;
}
.exitbtn{
    align-self: flex-end;
    margin-right: 0.5rem;
    border-radius: 50%;
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    border: none;
    background: lightgray;
    position: relative;
    bottom: 5%;
}
.loginsvgandmodalwrap{
    width: 17vw;
}
.logowrap{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.13em;
    font-weight: 500;
}
.logolink{
    align-items: center;
    padding-right: 0.12rem;
    font-size: 1.25em;
    margin-bottom: .12rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.loginwrap{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    width: 3rem;
    background: transparent;
    border: transparent;
}
.loginpopup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    min-height: 15rem;
    max-width: 28rem;
    max-height: 25rem;
    background-color: darkgray;
    border-radius: 0.85rem;
    gap: 24px;
    z-index: 1;
    padding: 1rem 0;
}
p{
    align-items: center;
    padding-right: 0.12rem;
    font-size: 1.5em;
    margin-top: 1rem;
    font-weight: 500;
    margin-bottom: 0;

}
.notmemberwrap{
    font-size: .75em;
    font-weight: 400;
    color: #05203C;
    padding: 0.25rem;
    margin: .2rem 0;
}
.loginInputs{
    width: 80vw;
    max-width: 21.5rem;
    height: 6vh;
    padding: 0.45rem;
    padding-left: .8rem;
    font-size: 1em;
    border: transparent;
    border-radius: .5rem;
}
.loginInputs:nth-child(3){
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.loginInputs:nth-child(2) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.paperplanesvg{
    fill: white
}
.accountsvg{
    width: 37px;
    fill: white;
    padding-right: .5rem;
}
.signupcalltoaction{
    font-size: .76em;
    margin: 0 0 .8rem;
    width: 100%;
    text-align: left;
    color: #05203C;
}
a{
    color: #05203C;
    padding-left: .25rem;
}
.loginbtn{
    width: 86%;
    height: 3rem;
    border-radius: 0.85rem;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    background-color: #0770e3
}
.exitsvg{
    width: 30px;
    border-radius: 50%;
    stroke-width: 4px;
    stroke: lightslategray;
}
.hide{
    display: none;
}
.inputswrap{
    display: flex;
    flex-direction: column;
}
.loggedoutwrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loginpopup-enter {
    opacity: 0;
  }
  .loginpopup-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .loginpopup-exit {
    opacity: 1;
  }
  .loginpopup-exit-active {
    opacity: 0;
    display: none;
    transition: opacity 500ms;
  }
  .loginpopup-exit-done{
    display: none;
  }


@media(min-width:710px){
    .loginbtn{
        background-color: #05203C;
    }
   
}
@media(min-width:1024px){
    .loginbtn:hover {
        background-color: #0770e3;
    }
    .exitbtn:hover{
        background-color: maroon;
        opacity: .8;
    }
 

}