html{
    margin: 0;
    padding: 0;
}
.headermainwrap{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 99%;
    height: 4.25rem;
    z-index: 999;
}
.headercolored{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    color: #F0FAFF;
    width: 100vw;
    height: 4.25rem;
    z-index: 999;
}
.headermainwraptranspo{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    height: 4.25rem;
    z-index: 5;
}
.exitbtn{
    align-self: flex-end;
    margin-right: 0.5rem;
    border-radius: 50%;
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    border: none;
    background: #9CA3AF;
    position: absolute;
    bottom: 102%;
    right: -20px;
}
.loginsvgandmodalwrap{
    width: 17vw;
}
.logowrap{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.13em;
    font-weight: 500;
}
.logolink{
    align-items: center;
    padding-right: 0.12rem;
    font-size: 1.35em;
    margin-bottom: 0.12rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(241, 245, 249);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}
.logolinkcolor{
    align-items: center;
    padding-right: 0.12rem;
    font-size: 1.35em;
    margin-bottom: 0.12rem;
    font-weight: 500;
    text-decoration: none;
    color: #343B53;
}
.loginwrap{
    display: flex;
    height: 90%;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    right: 0;
    background: transparent;
    border: transparent;
}
.loginpopup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    min-height: 15rem;
    max-width: 39rem;
    max-height: 29rem;
    background-color: #9CA3AF;
    border-radius: 0.85rem;
    z-index: 1;
    padding: 0 0 4rem;
    box-shadow: 3px 2px 13px 0px rgba(133, 150, 163, 75%);
    -webkit-box-shadow: 0px 0px 24px 4px rgba(133, 150, 163, 75%);
    -moz-box-shadow: 3px 2px 13px 0px rgba(133, 150, 163, 75%);
}
p{
    padding-right: 0.12rem;
    font-size: 1.5em;
    margin-top: 1rem;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 0;
    padding-left: 0.7rem;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
}
.notmemberwrap{
    font-size: .75em;
    font-weight: 400;
    color: #05203C;
    width: 47%;
    padding: 0.25rem;
    margin: .2rem 0;
}
.loginInputs{
    width: 80vw;
    max-width: 21.5rem;
    height: 6vh;
    padding: 0.45rem;
    padding-left: .8rem;
    font-size: 1.2em;
    border: transparent;
    background: #F8FAFC;
    font-weight: 500;
    border-radius: .5rem;
    box-shadow: 0px 0px 40px -8px rgb(44 55 64);
    -webkit-box-shadow: 0px 0px 40px -8px rgb(44 55 64);
    -moz-box-shadow: 0px 0px 40px -8px rgb(44 55 64);
}
.loginInputs:nth-child(3){
    border-radius: .5rem;
    align-self: center;
    max-width: 80%;
    height: 48px;
    padding: 0;
    text-align: left;
    font-size: 1em;
}
.loginInputs:nth-child(2) {
    align-self: center;
    border-radius: 0.5rem;
    padding: 0;
    max-width: 80%;
    height: 48px;
    margin-bottom: 1.25rem;
    font-size: 1em;
}
.paperplanesvg{
    fill:rgb(241, 245, 249);
}
.paperplanesvgcolor{
    fill:#343B53;
}
.accountsvg{
    width: 50px;
    padding-right: .5rem;
    align-self: center;
    fill: rgb(241, 245, 249);
}
.accountsvgcolored{
    width: 50px;
    padding-right: .5rem;
    align-self: center;
    fill: #343B53;
}
.signupcalltoaction{
    font-size: .76em;
    margin: 0 0 .8rem;
    width: 40%;
    color: #05203C;
    padding: 0;
}
a{
    color: white;
    padding-left: .25rem;
}
.loginpic{
    width: 100%;
    border-radius: 0;
    max-height: 17rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}
.loginbtn{
    width: 50%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #F0F9FF;
    background-color: #286DA4;
    letter-spacing: .05rem;
}
.exitsvg{
    width: 30px;
    border-radius: 50%;
    stroke-width: 4px;
    stroke:  #F3F4F6;
}
.hide{
    display: none;
}
.inputswrap{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 0;
}
.loggedoutwrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loginpopup-enter {
    opacity: 0;
  }
  .loginpopup-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .loginpopup-exit {
    opacity: 1;
  }
  .loginpopup-exit-active {
    opacity: 0;
    display: none;
    transition: opacity 500ms;
  }
  .loginpopup-exit-done{
    display: none;
  }


@media(min-width:1024px){
    .loginbtn:hover {
        background-color: #0770e3;
    }
    .exitbtn:hover{
        background-color: #B91C1C;
    }
 

}