h4{
    margin: .25rem;
    
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.maindiv{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 249)
}
html, body{
    padding: 0;
    margin: 0;
}
.mainsearchwrap{
    display: flex;
    background-color: #0c0c0c;
    background-image: url('../../images/home/flights.png');
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: white;
    height: 35rem;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 102vw;
margin: 0 -1% 0 -1%;

}
.flighttypebtnwrap{
    display: flex;
    flex-flow: row wrap;
    max-width: 15rem;
}
.flighttypesvg{
    width: 30px;
    fill: black;
}
.flightsearchform{
    display: flex;
    width: 80vw;
    padding: 0.5rem;
    max-width: 40rem;
    flex-flow: column nowrap;

}
.flightsearchform > * {
    height: 100%;
}
.locationinputswrap{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    gap: 0;
    max-width: 50rem;
    box-shadow: 8px -9px 4px 0px rgba(15,23,42,0.75);
    -webkit-box-shadow: 8px -9px 4px 0px rgba(15,23,42,0.75);
    -moz-box-shadow: 8px -9px 4px 0px rgba(15,23,42,0.75);

}
.locationinputs{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.45rem;
    height: 48px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: .03rem;
    color: #374151;
    background: hsla(215, 20%, 98%, 1);
}
.locationinputsarrival{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.45rem;
    height: 48px;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: transparent;
    font-weight: 600;
    letter-spacing: .0255rem;
    color: #374151;
    background: hsla(215, 20%, 98%, 1);
}
.dateselectionwrap{
    display: flex;
    flex-flow: row wrap;
}
.depaturedateinput{
    padding: 0.5rem;
    border-radius: 0.2rem;
     max-height: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 0;
    font-size: 1.3em;
    color: #374151;
    font-weight: 400;
    height: 48px;
    background: hsla(215, 20%, 98%, 1);
}
.depaturedateinput2{
    padding: 0.5rem;
    border-radius: 0.2rem;
    max-height: 2rem;
    width: 76vw;
    max-width: 38.8rem;
    text-align: center;
    border-radius: 0;
    font-size: 1.3em;
    font-weight: 400;
    background: hsla(215, 20%, 98%, 1);
    box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
-webkit-box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
-moz-box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
}
.arrivaldateinput{
    padding: 0.5rem;
    border-radius: 0.2rem;
    max-height: 2rem;
    text-align: center;
    border-radius: 0;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    background: hsla(215, 20%, 98%, 1);
    box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
-webkit-box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
-moz-box-shadow: 10px 1px 4px -3px rgba(15,23,42,0.75);
}

.inputnumber{
    margin: 0;
    width: 1.7rem;
    border: aliceblue;
    padding: 0 1.37rem;
}
.refinesearchwrap{
    display: flex;
    height: 3.75rem;
}

.passangerselectwrap{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-flow: column wrap
}
.maxpricewrap{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 45rem;

}
select{
    padding: 0.3rem;
    border-radius: 0.2rem;
    height: 100%;
    text-align: center;
    font-size: .9em;
}
.addOnsWrap{
    display: flex;
    flex-flow: column nowrap;
}
.extrafilterswrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.triptypebtnround{
    width: 50%;
    height: 2rem;
    border-radius: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    font-weight: 500;
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 600;
    padding: 1.55rem 3rem;
}
.triptypebtnone{
    width: 50%;
    height: 2rem;
    border-radius: 0.;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-weight: 500;
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 600;
    padding: 1.55rem 3rem;
    color: #1E293B;
}
.triptypebtnselected{
    transition: .5s linear;
    background-color: #0284c7;
    color: #F0F9FF;
    padding: 1.55rem 3rem;
    
}
.flighthotelbtn{
    background-color: transparent;
    border: solid white 2px;
    border-radius: 50px;
    margin: 1.8rem 0 1rem;
    padding: .3rem;
    width: 4rem;
    color: #1E293B;
}
.adwraps{
    display: flex;
    padding: 0 2% 0 2.25%;
    margin: 4rem 0;
    justify-content: center;
}
.adslogans{
    position: absolute;
    padding-top: 1rem;
    color: white;
    font-weight: 500;
    max-width: 12.5rem;
    font-size: 1.1em;
    left: 7%;

}

img{
    width: 90vw;
    border-radius: 0.7rem;
    margin-top: 1rem;
    max-width: 117rem;
    height: 30rem;
}
.flighthotelsvg{
    width: 40px;
    height: 40px;
    fill: #F8FAFC;
    padding: .25rem;
    background: transparent;
}
.flightclasswrap{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.flightclassdropdown{
    width: 10rem;
}
.searchBtn{
    margin: 2.5rem 0 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    align-self: center;
    background-color: #0284c7;
    color: #F0F9FF;
    font-weight: 600;
    font-size: 1.35em;
    border: transparent;
    padding: 1rem 0;
    max-width: 40rem;
    box-shadow: -9px 12px 13px -3px rgb(30, 41, 59);
    -webkit-box-shadow: -9px 12px 13px -3px rgb(30, 41, 59);
    -moz-box-shadow: -9px 12px 13px -3px rgb(30, 41, 59);
    letter-spacing: .04rem;
}
.maxpricelabelwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width: 5rem;
    text-align: center;
    font-size: .9em;
}
.otheritemswrap{
    background-color: rgb(250, 250, 249);
    width: 100%;
    height: 100%;
    color: black;
}
.imgspans  {
width: 92%;
}
.imgspans > h1 {
    color: #44403C;
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
}
.imgspans > a {
    color: rgb(74 68 64 / 90%);
    width: 100%;
    text-align: left;
    padding-left: 0;
    font-weight: 600;
    font-size: 1.05em;
}
.refinesearchbtn{
    align-self: flex-end;
    display: flex;
    width: 50%;
    max-width: 20rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border:transparent;
    font-size: 1.075em;
    font-weight: 600;
    height: 100%;
    background: #E4E4E7;
    color: #374151 ;
    border-radius: 0;
    border-bottom-left-radius: .5rem;
    height: 100%;
    width: 50%;
    border-right:solid 2px #c4c2c2;
}

.travelersbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-right-radius: .5rem;
    width: 50%;
    border:transparent;
    font-size: 1em;
    font-weight: 600;
    background: #E4E4E7;
    color: #374151 ;
    border-left:solid 2px #c4c2c2;

}
.personsvgandinputwrap{
    display: flex;
    flex-direction: column;
    width: 50%
}
.personswrap{
    display: flex;
    justify-content: center;
}
.personsvg{
    fill: black;
    width: 34px;
    padding-right: .5rem;
}
.booknowlink{
    font-size: .75em;
    width: 36vw;
    max-width: 3.5rem;
    display: flex;
    text-decoration: underline;
    justify-content: center;
    animation: opacity-fade 6s forwards;
    color: #252549c2;
}

.gridloader{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pageopacity{
    opacity: .15;
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes opacity-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.paradiseh1{
    font-size: 1.3em;
    opacity: 0;
    animation: fade-in 3.5s forwards;
    padding-left: 1%;
    text-align: left;
}
.adone{
    color: #F0FDFA;
    width: 80vw;
    margin-left: 1%;
    text-shadow: 4px 3px 3px rgb(68, 64, 60, .150);
    background: rgb(15, 23, 42, .2);
    height: 42vh;
    max-height: 11.5rem;
    padding: 1rem 0 0 0.9rem;
    position: relative;
    display: flex;
    top: 2.5rem;
    margin-top: 0;
    max-width: 16rem;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}
.rectravelswrap{
    display: flex;
    flex-direction: column;
    align-self: center;
    /* margin: 1rem; */
    justify-content: center;
}

.recimgwrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes fade { 
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .herotext {
        height: 26rem;
        position: relative;
        width: 15rem;
        display: flex;

      }
      .herotext > * {
        width: 50%;
      }
      .herotext > article > div:nth-child(1) {
        animation: fade .5s linear;
      }
      .herotext  > article > div:nth-child(2) {
        animation: fade 1s linear;
        color: red;
      }
      .herotext  > article > div:nth-child(3) {
        animation: fade 1.5s linear;
      }
      .herotext  > article > div:nth-child(4) {
        animation: fade 2s linear;
      }
      .herotext  > article > div:nth-child(5) {
        animation: fade 2.5s linear;
      }
      .herotext  > article > div:nth-child(6) {
        animation: fade 3s linear;
      }
      .herotext  > article > div:nth-child(7) {
        animation: fade 3s linear;
      }
.recimgwrap > img:last-child{
    width: 100%;
}
.rectravimages{
  width: 100%;
  animation: adfades .8s forwards;
}
.rectravimageslast{
    width: 100%;
    animation: adfades .8s forwards;
}
body,html{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@keyframes adfades {
    from {
        width: 0;
        transform: translateX(-50px);
    }
    to {
        left: 40%;
        width: 100%;
        transform: translateX(0);
    }
}
.recfadetext{
display: none;
}

.prefootercta{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    min-height: 6rem;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5rem 15%;
    border-top: solid 1px;
}
.prefootercta > h1 { 
    text-align: center;
    width: 100vw;
    color: rgb(41, 37, 36, 100%);
}
.prefootercta > a { 
    text-align: center;
    width: 100vw;
    color: rgb(41, 37, 36,  85%);
}

@media(min-width:450px){
    .booknowlink{
        max-width: 34%;
    }


}
@media(min-width:768px){
    .adslogans{
        font-size: 1.5em;
    }
    .booknowlink{
        max-width: 12.4rem

    }
    .paradiseh1{
        padding-left: 13%;
    }

    .depaturedateinput,.arrivaldateinput{
        width: 50%;
    }
    .dateselectionwrap{
        flex-flow: row nowrap;
        max-width: 40rem;
    }
    .booknowlink{
        max-width: 96%;
    }
    .rectravimages{
        max-width: 43.5vw;
}
.rectravimageslast{
    max-width: 100vw;
}
      .imgspans{
        max-width: 43vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .recimgwrap > img:last-child{
        height: 17%;
        max-width: 90vw;
        max-height: 19rem;
    }
      .recimgwrap{
        width: 100vw;
        gap: 52px;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

}
@media(min-width:1024px){


}
@media(min-width:1024px){
    button:hover{
        cursor: pointer;
        opacity: .9;
    }
    .refinesearchbtn, .travelersbtn {
        font-size: 1.12em;
    }
    .rectravelswrap {
        flex-direction: row;
        gap: 44px;
        width: 100vw;
    }
    .recimgwrap{
        width: 45vw;
        display: flex;
        align-self: flex-start;
        flex-flow: row wrap;
        gap: 11px 3%;
        margin: 0 2.75rem 0 0;
        justify-content: flex-end;
    }
        
    .recimgwrap > img:last-child{
        width: 100%;
        height: 17%;
        max-width: 41vw;
    }
    .rectravimages{
        width: 50%;
        max-height: 45vh;  
    }
    .rectravimageslast{
        max-height: 40vh;
    }
    .imgspans{

        align-items: flex-start;
      }
}
@media(min-width:1550px){
    .recfadetext{
        /* writing-mode: vertical-rl; */
        text-orientation: upright;
        position: relative;
        height: 0;
        FONT-SIZE: 2.5em;
        display: flex;
        flex-direction: row-reverse;
        top: -24rem;
        left: 19rem;
    }
}
@media(min-width:1690px){
    .recfadetext{
        transform: translate(1%, 72%);
        /* right: -1vw; */
        top: 32vh
    
    }
}
@media(min-width:2600px){
    .adone{
        left: 5vw;
    }
}