.mainsearchwraphotel{
    display: flex;
    background-color: #0c0c0c;
    background-image: url('../../images/home/hotelbg.avif');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    height: 35rem;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 102vw;
    margin: 0 -1% 0 -1%;
}
.hotelsearchform{
    display: flex;
    width: 80vw;
    padding: 0.5rem;
    max-width: 40rem;
    flex-flow: column nowrap;
    height: 649px
}

.addOnsWraphotel{
    display: flex;
    flex-flow: column nowrap;
    box-shadow: -4px 7px 9px -1px rgb(41, 37, 36);
    /* -webkit-box-shadow: -4px 7px 9px -1px rgb(1 22 52 / 75%);
    -moz-box-shadow: -4px 7px 9px -1px rgba(100,116,139,0.75); */
}
.locationinputswraphotel{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    gap: 0;
    max-width: 50rem;
   
}
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }