.recommendedtabs{
    border: transparent;
    display: flex;
    border-radius: 0.75rem;
    height: 5rem;
    width: 80%;
    animation: fadeout 1.2s ease forwards;
}
@keyframes fadeout { 
    0% {opacity:1}
    100% {opacity:0}
}
@keyframes fade { 
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }

}
.textwraps > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5%;
    padding-left: 0;

}
.textwraps > ul > a:nth-child(1),.textwraps > ul > a:nth-child(2) {
    border-bottom: solid 2px rgb(168, 162, 158, .6);
    padding-bottom: .15rem;
    height: 100%;
}
.recommendedtabsanimation{
    display: flex;
    border-radius: 0.75rem;
    border: solid 1px #D4D4D4;
    height: 5rem;
    width: 80%;
    max-width: 18rem;
    animation: fade 1.2s ease forwards;
    box-shadow: -4px 7px 9px -1px rgba(100,116,139,0.75);
-webkit-box-shadow: -4px 7px 9px -1px rgba(100,116,139,0.75);
-moz-box-shadow: -4px 7px 9px -1px rgba(100,116,139,0.75);
}
.hide{
    display: none;
}
button:active{
    border-style: none;
}
html, body {
    padding:0;
    margin:0;
}
.imgwrap{
    display: flex;
    width: 50%;
    /* flex-direction: column;
    position:relative;
    bottom: 3.5vh; */
}
.imgwrap > div {
    position: relative;
    bottom: 31%;
    left: 4px;
    width: 0;
}
.recommendedtabsimg{
    display: flex;
    border-radius: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    max-width: 14rem;
    margin-top: 0;
    border-bottom-left-radius: 0.5rem;
}
.optionswrap{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: white;
    border-radius: .5rem;
}

.textwraps{
    padding-top: 4%;
    display: flex;
    margin: 0;
    justify-content: center;
    font-size: .8em;
}
.recommendedtabswrap{
    gap: 2rem 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 86vh;
    max-width: 40rem;
    padding-left: 0;
}
.rectravelswrap > article {
    flex-direction: column;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rectravelswrap > article > ul > p {
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-align: left;
    text-indent: 10%;
} 

@media(min-width:825px){
    .recommendedtabs {
        max-width: 15rem;
    }
    .recommendedtabswrap{
        min-height: 59vh;
    }
}
@media(min-width:1024px){
    .rectravelswrap > article {
        max-width: 39rem;
        margin-left: -2rem;
        justify-content: space-evenly;

    }

}