.travelersnumpopup{
    width: 90%;
    position: absolute;
    left: 0;
    top: 5rem;
    height: 50%;
    margin: 1rem 0;
    background-color: darkgrey;
    border-radius: 0;
    z-index: 5;
    border-bottom-right-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.travelersselectinput{
    height: 2.5rem;
    width: 35%;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}
.travelerlabelwraps{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}
.travelersconfirmbtn{
    width: 50%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1em;
    font-weight: 500;
}
@media(min-width:1024px){
    .travelersnumpopup{
        position: absolute;

        ;
    }
}
